.clients-form {
    width: 90%;
    padding: 36px 46px;
    // margin-top: 32px;
    margin-bottom: 32px;
}

.clients-search {
    height: 50px;
    border-radius: 26px;
    border: 0;
    padding-left: 32px;
    padding-right: 32px;
    // margin-bottom: 20px;
}

.page-number {
    min-width: 36px;
    padding: 0;
    margin: 0;
}

.client-list {
    margin-top: 20px;

    .client-list-item {
        height: 60px;
    }
}

.current-page-number {
    font-weight: bolder;
    font-size: large;
}

.list-group-item:hover {
    .selected-icon {
        color: $accent;
    }
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.client-program {
    margin: 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0 0 40px -13px rgba(0,0,0,0.65);
    -moz-box-shadow: 0 0 40px -13px rgba(0,0,0,0.65);
    box-shadow: 0 0 40px -13px rgba(0,0,0,0.65);

    .programme-meta {
        font-size: 14px;
    }

    &:hover {
        -webkit-box-shadow: 0 0 51px -13px rgba(0,0,0,0.75);
        -moz-box-shadow: 0 0 51px -13px rgba(0,0,0,0.75);
        box-shadow: 0 0 51px -13px rgba(0,0,0,0.75);
    }

    .client-program-top {
        padding-bottom: 10px;
        border-left: 10px solid $accent;
        border-top-left-radius: 5px;
    }

    .client-program-buttons {
        padding-top: 5px;
        padding-bottom: 5px;
        background: $light-grey;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.clientdetail-icon {
    label {
        display: none;
    }
}

.clientdetail-icon:hover {
    color: $accent;

    md-icon {
        color: $accent;
    }

    label {
        display: block;
    }
}
