$primary: #2B3D51;
$accent: #F6841F;

$bg-grey: #F4F5F7;
$board-bg: #FFFFFF;
$board-action-bg: #FCFCFC;
$stable: #8f8e93;
$dark: #4d5158;
$positive: #839acb;
$energized: #f98d00;
$energized-dark: #d07602;
$balanced: #4CCF71;
$orange: #E6741F;
$purple: #580f66;
$light-grey: #f7f7f7;
$light-grey-text: #949494;
$blue-grey: #949494;
$red: #FF0000;
$white: #FFFFFF;
$dark-grey: #3e3e3e;

.white-bg {
    background-color: white;
}
.black {
    color: black;
}
