@font-face {
    font-family: 'Gotham Light';
    src: url('../styles/fonts/GothamLight.eot');
    src: url('../styles/fonts/GothamLight.eot?#iefix') format('embedded-opentype'), url('../styles/fonts/GothamLight.woff') format('woff'), url('../styles/fonts/GothamLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600|Roboto:400,300,500,700|Open+Sans:400,600,700,300);
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../../images/icon/MaterialIcons-Regular.eot");
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("../../images/icon/MaterialIcons-Regular.woff2") format('woff2'), url("../../images/icon/MaterialIcons-Regular.woff") format('woff'), url("../../images/icon/MaterialIcons-Regular.ttf") format('truetype');
}
