/*==================================================
=                 Publisher Styles                =
==================================================*/
.previewContainer {
  .programme-header {
    background-size: cover;
    width: 100%;
  }
  .exercise-tile-container {
    // margin-top: -25px;
    // top: -32px;
    // position: relative;
  }

  .param-list-item {
    font-size: 12px;
    margin: 5px 35px 0 0;
  }
  .exercise-well {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 10px;
    margin-bottom: 10px;
    color: $dark-grey;

    h3 {
      margin: 8px 0 7px;
      font-size: 18px;
    }

    h5 {
      margin-bottom: 0;
    }

    .thumbnailImage {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 2px;
      min-width: 100px;
      width: auto;
      overflow: hidden;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .thumbnailImage.small {
      width: 100px;
      height: 100px;
    }

    .thumbnailImage.medium {
      width: 160px;
      height: 160px;
    }

    .thumbnailImage.large {
      width: 215px;
      height: 215px;
    }
  }

  .grayscale {
    * {
      color: #333;
    }

    img {
      -webkit-filter: grayscale(100%);
      /* Chrome, Safari, Opera */
      filter: grayscale(100%);
    }
  }
}
.programme-preview-title {
  color: #333;
  margin-bottom: 0px;
  margin-right: 0px;
}
.my-title {
  margin: 0px;
}