<md-dialog id="add_templete_excerises" class="logo-bg padding-top-8">
	<div layout="row" layout-align="center center">
		<div flex></div>
		<md-button class="md-icon-button" ng-click="data.hide()">
			<md-icon md-svg-src="images/icon/cancel.svg"></md-icon>
		</md-button>
	</div>
	<div class="forgot-form">
		<div layout="row" layout-align="center center">
			<label class="forgot-password">FORGOT PASSWORD</label>
			<span flex></span>
		</div>
		<form ng-submit="data.resetPassword(data.creds.username)">
			<md-dialog-content class="empty-error">
				<div class="margin-top-8">
					<label class="forgot-description">Enter your email address below in order to reset your password</label>
				</div>
				<div style="margin: 33px 0 0 -2px;">
					<md-input-container class="md-block">
						<input type="email" name="email" id="email" ng-model="data.creds.username" ng-pattern="/^.+@.+\..+$/" required style="font-size: 14pt; height: 50px; padding-bottom: 5px;">
						<div ng-messages="form.email.$error" role="alert">
							<div ng-message-exp="['required']">
								Email is required.
							</div>
							<div ng-message-exp="['pattern']">
								Correct e-mail address.
							</div>
						</div>
					</md-input-container>
				</div>
			</md-dialog-content>
			<md-dialog-actions>
				<div style="margin: 7px -4px 0px 0px;">
					<md-button class="md-raised md-primary" type="submit" flex style="width: 130px; height: 42px; font-size: 12pt;">OK</md-button>
				</div>
			</md-dialog-actions>
		</form>
	</div>
</md-dialog>
